.box {
  width: 100px;
  height: 100px;
  background-color: aliceblue;
}
.mt-2 {
  margin-top: 20px;
}
.class1 {
  border: 1px solid black;
  margin: auto;
}
.class2 {
  padding: 5px;
}
.class3 {
  text-align: center;
}
