<!--The content below is only a placeholder and can be replaced.-->
<!-- <div >
  <h1>
    Welcome to {{ title }}!
  </h1>
</div> -->
<!-- <div class="container p-2"> -->
  <!-- <app-myContainer></app-myContainer> -->
  <!-- <app-databind></app-databind> -->
  <!-- <app-class-style></app-class-style> -->
  <!-- <app-event-bind></app-event-bind> -->
  <!-- <app-two-way-bind></app-two-way-bind> -->
  <!-- <app-ngif></app-ngif> -->
  <!-- <app-ngswitch></app-ngswitch> -->
  <!-- <app-ng-for></app-ng-for> -->

  <!-- rounting -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}"
            routerLink="/"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/about"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/product"
            >Products</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/contact"
            >Contact us</a
          >
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
<!-- </div> -->
