/* * {
  font-family: "Oswald", sans-serif;
}

$textColor: #444444;
$gray: #bbb;
$bg: whitesmoke;
$pgb: #42c8cb;
$pgt: #6bffc8;
$dot: #349a98;
$bgb: #ff4164;
$bgt: #ff886b;
$bdot1: #59e8c8;
$bdot2: #ffee71;
$bdot3: #6654af;
$bdot4: #343434;
$bdot5: #dfdfdf;
$star: #fe6067;
$discount: #fe6168;

@mixin bp($bp, $min-max: min-width) {
  $em: $bp/16;
  @media (#{$min-max}: #{$em}em) {
    @content;
  }
}

.container {
  margin: 30px;
  width: 100%;
  max-width: 900px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h5 {
  text-transform: uppercase;
  margin: 0;
  font-size: 14px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: $gray;
}

.product {
  &-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, $pgt 0%, $pgb 100%);
    border-radius: 20px 20px 0 0;
    padding: 55px 0;
    width: 100%;
    margin: auto;
  }
  &-pic {
    max-width: 180px;
    position: relative;
    left: 0;
    margin: 40px 0;
    filter: drop-shadow(-6px 40px 23px rgba(black, 0.5));
  }
  &-details {
    padding: 40px;
    background-color: white;
    border-radius: 0 0 20px 20px;
    .title {
      text-transform: uppercase;
      margin: 0;
    }
    .colorCat {
      text-transform: uppercase;
      font-style: italic;
      color: $gray;
      font-weight: 700;
      font-size: 14px;
    }
    .price {
      font-weight: 700;
      margin-top: 5px;
      font-size: 18px;
      .current {
        color: $discount;
        margin-left: 6px;
      }
    }
    .before {
      text-decoration: line-through;
    }
    header {
      margin-bottom: 50px;
      position: relative;
    }
    article {
      > h5 {
        margin: 0;
      }
      > p {
        color: $gray;
        margin: 0.5em 0;
        font-size: 14px;
        line-height: 1.6;
      }
    }
    .controls {
      margin: 3em 0;
      > div {
        flex: 1;
      }
      .option {
        margin-top: 12px;
        display: inline-block;
        position: relative;
        &:hover {
          color: $textColor;
        }
        &::before {
          content: "";
          position: absolute;
          border-width: 2px 2px 0 0;
          border-style: solid;
          top: 0;
          bottom: 0;
          height: 5px;
          width: 5px;
          right: -18px;
          margin: auto;
          transform: rotate(135deg);
        }
      }
      > div + div {
        margin-top: 20px;
        flex: none;
      }
      ul {
        display: flex;
        margin: 15px 5px;
      }
    }
    .color li + li {
      margin-left: 15px;
    }
    .colors {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: block;
    }
    $colors-list: $bdot1 $bdot2 $bdot3 $bdot4 $bdot5;
    @each $current-color in $colors-list {
      $i: index($colors-list, $current-color);
      .color-bdot#{$i} {
        background-color: $current-color;
        &:hover,
        &.active {
          box-shadow: 0 0 0 3px white, 0 0 0 5px $current-color;
        }
      }
    }
    .rate {
      position: static;
      margin-top: 10px;
      a {
        font-size: 18px;
        color: $gray;
        &.active,
        &:hover {
          color: $star;
        }
      }
    }
  }
}

.dots {
  display: flex;
  margin-top: 40px;
  > a {
    background-color: $dot;
    width: 10px;
    height: 10px;
    margin: 0 4px;
    border-radius: 50%;
    &:hover,
    &.active {
      background-color: white;
    }
  }
  i {
    display: none;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  > button {
    display: flex;
    border: 0;
    padding: 15px 25px;
    align-items: center;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(to bottom, $bgt 0%, $bgb 100%);
    box-shadow: 0 10px 30px 0 rgba($bgt, 0.7);
    transition: 200ms;
    &:hover {
      background: linear-gradient(to bottom, $bgb 0%, $bgt 100%);
    }
    > img {
      width: 31px;
    }
    > span {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 700;
      margin-left: 10px;
      color: white;
    }
  }
  > a {
    img {
      width: 24px;
      opacity: 0.8;
    }
    &:hover {
      img {
        opacity: 1;
      }
    }
  }
}

@include bp(600) {
  .product-details {
    .rate {
      position: absolute;
      top: 12px;
      right: 10px;
      margin-top: 0;
    }
    .controls > div {
      &.qty {
        width: 60px;
      }
    }
    .controls > div + div {
      border-left: 2px solid rgba($gray, 0.5);
      padding-left: 25px;
      padding-right: 25px;
      width: 100px;
      margin-top: 0;
    }
    .controls {
      display: flex;
    }
  }
}

@include bp(900) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: normal;
    margin: auto;
  }
  .product-image {
    border-radius: 20px 0 0 20px;
    max-width: 330px;
  }
  .product-pic {
    left: -40px;
    max-width: 330px;
  }
  .product-details {
    width: 100%;
    border-radius: 0 20px 20px 0;
  }
} */

/* Please â¤ this if you like it! */
/* 
// @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

// :root{
//   font-size: 20px;
// }
// body{
// 	font-family: 'Poppins', sans-serif;
// 	font-weight: 500;
// 	font-size: 15px;
// 	line-height: 1.7;
// 	color: #102770;
// 	background-color: #ffeba7;
// 	overflow-x: hidden;
// }
// a {
// 	cursor: pointer;
//   transition: all 200ms linear;
// }
// a:hover {
// 	text-decoration: none;
// }
// .link {
//   color: #c4c3ca;
// }
// .link:hover {
//   color: #ffeba7;
// }
// .over-hide {
//   overflow: hidden;
// }
// .size-22{
//   font-size: 22px;
// }
// .section{
//   position: relative;
//   width: 100%;
//   z-index: 1;
//   display: block;
// }
// .full-height{
//   min-height: 100vh;
// }
// [type="checkbox"]:checked,
// [type="checkbox"]:not(:checked){
//   position: absolute;
//   left: -9999px;
// }
// .pricing:checked + label,
// .pricing:not(:checked) + label{
//   position: relative;
//   display: block;
//   text-align: center;
//   width: 260px;
//   height: 44px;
//   border-radius: 4px;
//   padding: 0;
//   margin: 0 auto;
//   cursor: pointer;
//   font-family: 'Poppins', sans-serif;
//   font-weight: 600;
//   text-transform: uppercase;
//   font-size: 14px;
//   letter-spacing: 1px;
//   line-height: 44px;
//   padding: 0 25px;
//   padding-right: 27px;
//   overflow: hidden;
//   color: #fff;
//   text-align: left;
// }
// .pricing:checked + label:before,
// .pricing:not(:checked) + label:before{
//   position: absolute;
//   content: '';
//   z-index: -2;
//   background-color: #102770;
//   width: 100%;
//   height: 100%;
//   display: block;
//   top: 0;
//   left: 0;
// }
// .pricing:checked + label:after,
// .pricing:not(:checked) + label:after{
//   position: absolute;
//   content: '';
//   z-index: -1;
//   background-color: #ffeba7;
//   width: 128px;
//   height: 40px;
//   display: block;
//   top: 2px;
//   left: 2px;
//   border-radius: 2px;
//   transition: left 300ms linear;
// }
// .pricing:checked + label:after {
//   left: 130px;
// }
// .block-diff {
//   display: block;
//   mix-blend-mode: difference;
// }

// .card-3d-wrap {
//   position: relative;
//   width: 340px;
//   max-width: calc(100% - 20px);
//   height: 510px;
//   -webkit-transform-style: preserve-3d;
//   transform-style: preserve-3d;
//   perspective: 1000px;
//   margin-top: 90px;
// }
// .card-3d-wrapper {
//   width: 100%;
//   height: 100%;
//   position:absolute;
//   top: 0;
//   left: 0;
//   -webkit-transform-style: preserve-3d;
//   transform-style: preserve-3d;
//   transition: transform 700ms 400ms ease-out;
// }
// .card-front, .card-back {
//   width: 100%;
//   height: 100%;
//   background-color: rgba(255, 255, 255, 1);
//   position: absolute;
//   border-radius: 6px;
//   left: 0;
//   top: 0;
//   -webkit-transform-style: preserve-3d;
//   transform-style: preserve-3d;
//   -webkit-backface-visibility: hidden;
//   -moz-backface-visibility: hidden;
//   -o-backface-visibility: hidden;
//   backface-visibility: hidden;
//   box-shadow: 0 12px 35px 0 rgba(16, 39, 112,.07);
// }
// .card-back {
//   transform: rotateY(180deg);
// }
// .pricing:checked ~ .card-3d-wrap .card-3d-wrapper {
//   transform: rotateY(180deg);
//   transition: transform 700ms 400ms ease-out;
// }
// .pricing-wrap{
//   position: relative;
//   padding-top: 160px;
//   width: 100%;
//   display: block;
//   z-index: 1;
//   -webkit-transform-style: preserve-3d;
//   transform-style: preserve-3d;
//   -webkit-backface-visibility: hidden;
//   -moz-backface-visibility: hidden;
//   -o-backface-visibility: hidden;
//   backface-visibility: hidden;
// }
// .pricing-wrap h4{
//   position: relative;
//   width: 100%;
//   display: block;
//   text-align: center;
//   font-family: 'Poppins', sans-serif;
//   font-weight: 700;
//   letter-spacing: 3px;
//   font-size: 22px;
//   line-height: 1.7;
//   color: #102770;
//   transform: translate3d(0, 0, 35px) perspective(100px);
// }
// .pricing-wrap h4:before{
//   position: absolute;
//   content: '';
//   z-index: -1;
//   background: linear-gradient(217deg, #448ad5, #b8eaf9);
//   width: 70px;
//   height: 70px;
//   display: block;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   box-shadow: 0 6px 20px 0 rgba(16, 39, 112,.3);
//   animation: border-transform 6s linear infinite;
// }
// .card-back .pricing-wrap h4:before{
//   background: linear-gradient(217deg, #648946, #a3c984);
// }
// @keyframes border-transform{
//     0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; }
//   14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; }
//   28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; }
//   42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; }
//   56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; }
//   70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; }
//   84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; }
// }
// .pricing-wrap h2{
//   position: relative;
//   width: 100%;
//   display: block;
//   text-align: center;
//   font-family: 'Poppins', sans-serif;
//   font-weight: 400;
//   letter-spacing: 1px;
//   font-size: 36px;
//   line-height: 1.1;
//   color: #102770;
//   transform: translate3d(0, 0, 30px) perspective(100px);
// }
// .pricing-wrap h2 sup{
//   font-size: 20px;
// }
// .pricing-wrap p{
//   position: relative;
//   width: 100%;
//   display: block;
//   text-align: center;
//   font-family: 'Poppins', sans-serif;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.2;
//   letter-spacing: 1px;
//   color: #102770;
//   transform: translate3d(0, 0, 30px) perspective(100px);
// }
// .card-back h2,
// .card-back p,
// .card-back h4{
//   color: #0c1c00;
// }
// .link {
//   position: relative;
//   padding: 10px 20px;
//   border-radius: 4px;
//   display: inline-block;
//   text-align: center;
//   color: #ffeba7;
//   background-color: #102770;
//   transition: all 200ms linear;
//   font-family: 'Poppins', sans-serif;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.2;
//   transform: translate3d(0, 0, 30px) perspective(100px);
// }
// .link:hover {
//   color: #102770;
//   background-color: #ffeba7;
// }
// .card-back .link{
//   background-color: #0c1c00;
// }
// .card-back .link:hover{
//   color: #0c1c00;
//   background-color: #ffeba7;
// }
// .img-wrap img{
//   width: 100%;
//   height: auto;
//   display: block;
// }
// .img-1{
//   position: absolute;
//   display: block;
//   left: -160px;
//   top: -50px;
//   z-index: 5;
//   width: calc(80% + 160px);
//   transform: translate3d(0, 0, 45px) perspective(100px);
//   opacity: 1;
//   pointer-events: auto;
//   transition: transform 400ms 1200ms ease, opacity 400ms 1200ms ease;
// }
// .pricing:checked ~ .card-3d-wrap .card-3d-wrapper .img-1 {
//   opacity: 0;
//   transform: translate3d(-50px, 25px, 45px) perspective(100px);
//   pointer-events: none;
//   transition: transform 400ms ease, opacity 200ms 150ms ease;
// }
// .img-2 {
//   position: absolute;
//   display: block;
//   left: 0;
//   top: 0;
//   z-index: 1;
//   border-top-left-radius: 6px;
//   border-top-right-radius: 6px;
//   overflow: hidden;
//   width: 100%;
//   transform: translate3d(0, 0, 15px) perspective(100px);
// }
// .img-3{
//   position: absolute;
//   display: block;
//   right: -20px;
//   top: -40px;
//   z-index: 5;
//   width: calc(60% + 20px);
//   transform: translate3d(0, 0, 55px) perspective(100px) scale(1);
//   opacity: 1;
//   pointer-events: auto;
//   transition: transform 300ms 1300ms ease, opacity 200ms 1300ms ease;
// }
// .pricing:checked ~ .card-3d-wrap .card-3d-wrapper .img-3 {
//   opacity: 0;
//   transform: translate3d(-50px, 5px, 55px) perspective(100px) scale(0.4);
//   pointer-events: none;
//   transition: transform 400ms ease, opacity 200ms 150ms ease;
// }
// .img-6{
//   position: absolute;
//   display: block;
//   right: -20px;
//   bottom: -55px;
//   z-index: 5;
//   width: calc(20% + 30px);
//   transform: translate3d(0, 0, 25px) perspective(100px) scale(1);
//   opacity: 1;
//   pointer-events: auto;
//   transition: transform 300ms 1300ms ease, opacity 200ms 1300ms ease;
// }
// .pricing:checked ~ .card-3d-wrap .card-3d-wrapper .img-6 {
//   opacity: 0;
//   transform: translate3d(0, 0, 25px) perspective(100px) scale(0.4);
//   pointer-events: none;
//   transition: transform 400ms ease, opacity 200ms 150ms ease;
// }

// .img-4{
//   position: absolute;
//   display: block;
//   left: -60px;
//   top: -60px;
//   z-index: 5;
//   width: calc(65% + 60px);
//   transform: translate3d(0, 0, 45px) perspective(100px) scale(0.5);
//   opacity: 0;
//   pointer-events: none;
//   transition: transform 400ms ease, opacity 200ms 150ms ease;
// }
// .pricing:checked ~ .card-3d-wrap .card-3d-wrapper .img-4 {
//   opacity: 1;
//   pointer-events: auto;
//   transform: translate3d(0, 0, 45px) perspective(100px) scale(1);
//   transition: transform 400ms 1200ms ease, opacity 300ms 1200ms ease;
// }
// .img-5{
//   position: absolute;
//   display: block;
//   right: -70px;
//   top: -50px;
//   z-index: 6;
//   width: calc(60% + 70px);
//   transform: translate3d(0, 0, 35px) perspective(100px) scale(0.5) rotate(0deg);
//   opacity: 0;
//   pointer-events: none;
//   transition: transform 400ms 100ms ease, opacity 200ms 250ms ease;
// }
// .pricing:checked ~ .card-3d-wrap .card-3d-wrapper .img-5 {
//   opacity: 1;
//   pointer-events: auto;
//   transform: translate3d(0, 0, 35px) perspective(100px) scale(1) rotate(10deg);
//   transition: transform 400ms 1300ms ease, opacity 300ms 1300ms ease;
// }
// .img-7{
//   position: absolute;
//   display: block;
//   right: -30px;
//   bottom: -65px;
//   z-index: 6;
//   width: calc(25% + 30px);
//   transform: translate3d(0, 0, 35px) perspective(100px) scale(0.5);
//   opacity: 0;
//   pointer-events: none;
//   transition: transform 400ms 100ms ease, opacity 200ms 250ms ease;
// }
// .pricing:checked ~ .card-3d-wrap .card-3d-wrapper .img-7 {
//   opacity: 1;
//   pointer-events: auto;
//   transform: translate3d(0, 0, 35px) perspective(100px) scale(1);
//   transition: transform 400ms 1300ms ease, opacity 300ms 1300ms ease;
// }

// .logo {
// 	position: fixed;
// 	top: 30px;
// 	right: 30px;
// 	display: block;
// 	z-index: 100;
// 	transition: all 250ms linear;
// }
// .logo img {
// 	height: 26px;
// 	width: auto;
// 	display: block;
// }
 */

/* E-commerce */
.product-box {
  padding: 0;
  border: 1px solid #e7eaec;
}
.product-box:hover,
.product-box.active {
  border: 1px solid transparent;
  -webkit-box-shadow: 0 3px 7px 0 #a8a8a8;
  -moz-box-shadow: 0 3px 7px 0 #a8a8a8;
  box-shadow: 0 3px 7px 0 #a8a8a8;
}
.product-imitation {
  text-align: center;

  background-color: #f8f8f9;
  color: #bebec3;
  font-weight: 600;
}
.product-imitation > img {
  width: 100%;
  height: 30vh;
}
.cart-product-imitation {
  text-align: center;
  padding-top: 30px;
  height: 80px;
  width: 80px;
  background-color: #f8f8f9;
}
.product-imitation.xl {
  padding: 120px 0;
}
.product-desc {
  padding: 20px;
  position: relative;
}
.ecommerce .tag-list {
  padding: 0;
}
.ecommerce .fa-star {
  color: #d1dade;
}
.ecommerce .fa-star.active {
  color: #f8ac59;
}
.ecommerce .note-editor {
  border: 1px solid #e7eaec;
}
table.shoping-cart-table {
  margin-bottom: 0;
}
table.shoping-cart-table tr td {
  border: none;
  text-align: right;
}
table.shoping-cart-table tr td.desc,
table.shoping-cart-table tr td:first-child {
  text-align: left;
}
table.shoping-cart-table tr td:last-child {
  width: 80px;
}
.product-name {
  font-size: 16px;
  font-weight: 600;
  color: #676a6c;
  display: block;
  margin: 2px 0 5px 0;
}
.product-name:hover,
.product-name:focus {
  color: #1ab394;
}
.product-price {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  background-color: #1ab394;
  padding: 6px 12px;
  position: absolute;
  top: -32px;
  right: 0;
}
.product-detail .ibox-content {
  padding: 20px;
}
/* .image-imitation {
  background-color: #f8f8f9;
  text-align: center;
  padding: px 0;
} */
.product-main-price small {
  font-size: 10px;
}
.product-images {
  margin: 0 20px;
}

.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}
.ibox.collapsed .ibox-content {
  display: none;
}
.ibox.collapsed .fa.fa-chevron-up:before {
  content: "\f078";
}
.ibox.collapsed .fa.fa-chevron-down:before {
  content: "\f077";
}
.ibox:after,
.ibox:before {
  display: table;
}
.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 3px 0 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
}
.ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
}
.ibox-footer {
  color: inherit;
  border-top: 1px solid #e7eaec;
  font-size: 90%;
  background: #ffffff;
  padding: 10px 15px;
}
