<!-- <button (click)="myClick()">Add to cart</button>
<p>{{ message }}</p>

<input type="text" value="myinputtext" (click)="onInputClick($event)" /> -->

<!-- <button (click)="onInputClick($event)" value='laptop'>laptop</button>
<button (click)="onInputClick($event)" value='tv'>tv</button>
<button (click)="onInputClick($event)" value='frige'>frige</button>

<p>{{ message }}</p> -->

<!-- template referance vaiable -->
<input type="text" #inputInfo value="vivek" name="vivek" />

<button (click)="getInfo(inputInfo)">get info</button>
